link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
auto-install-peers=true
strict-peer-dependencies=false
node-linker=isolated
package-import-method=hardlink
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*